.hero-img {
  background-image: url('/light-hero-img.png');
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  .hero-img {
    background-image: url('/dark-hero-img.png');
  }
}

.sidescroller {
  animation: sideScroll 90s linear infinite;
  transform: translate3d(0, 0, 0);
}

@media (prefers-reduced-motion) {
  .sidescroller {
    animation: sideScroll 180s linear infinite;
  }
}

@keyframes sideScroll {
  100% {
    transform: translateX(-100%);
  }
}

.blur-edges {
  --blur: 5%;
  --mask: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 1) calc(5% + var(--blur)),
      rgba(0, 0, 0, 1) calc(95% - var(--blur)),
      rgba(0, 0, 0, 0) 95%
    )
    repeat-y;

  -webkit-mask: var(--mask);
  mask: var(--mask);
}

@media (min-width: 576px) {
  .blur-edges {
    --blur: 2.5%;
  }
}
