@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Verdana;
}

@media only screen and (min-width: 640px) {
  :root {
    --scrollbar-color: #b2b8bb;
  }

  ::-webkit-scrollbar {
    width: 22px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 20px;
    border: 7px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #697577;
  }
}

